In [1]:
import pandas as pd
import numpy as np

# DataFrame for all race data

This holds all the data for every race, which will be exported to a CSV file

In [12]:
# dataframe for all race data
race_results = pd.DataFrame()

race_results = race_results.assign(POS = '', Driver = '', Car = '', Laps = '', Time = '', PTS = '', Race = '')
# rename the column header
race_results.columns = race_results.columns.str.replace('Time', 'Time/Retired')

race_results.head()

Empty DataFrame
Columns: [POS, Driver, Car, Laps, Time/Retired, PTS, Race]
Index: []

In [25]:
race_results.to_csv('data/compiled-data/race-results.csv')

# Add Data Function

This is the function that's called to add race data to the race_results data frame.

It takes the following arguments:

    country_df - the data frame for the race results to be added to the race_results data frame
    country_name - the name of the country that the race was held in
    race_results - the data frame that stores data from each race
    commit_mode - if you want to see a preview of what data will be added to race_results, set this argument to False. If you want to add the data, set the argument to True.

In [5]:
def addRaceData(country_df, country_name, race_results, commit_mode):
    "Adds race data to the race_results data frame."
    driver_count = 0

    print("Adding data for " + country_name)
    print("Commit mode is set to " + str(commit_mode))

    try:
        while driver_count < len(country_df.index):
                pos = country_df.loc[driver_count, 'Pos']
                driverNo = country_df.loc[driver_count, 'No']
                name = country_df.loc[driver_count, 'Driver']
                car = country_df.loc[driver_count, 'Car']
                laps = country_df.loc[driver_count, 'Laps']
                time = country_df.loc[driver_count, 'Time/Retired']
                points = country_df.loc[driver_count, 'PTS']

                if(commit_mode):
                    # add row
                    race_results.loc[-1] = [pos, name, car, laps, time, points, country_name]
        
                else:
                    # print row
                    print(pos, name, car, laps, time, points, country_name)

                driver_count += 1

                # shift the index
                race_results.index = race_results.index + 1

    except:
        print("ERROR! Double check the arguments provided for the function.\nHave you imported the race data CSV?\nHas the race_results data frame been created?")

# Bahrain

In [7]:
bahrain_df = pd.read_csv('data/Bahrain.csv')
bahrain_df.head()

,Pos,No,Driver,Car,Laps,Time/Retired,PTS
0,1,1,Max Verstappen,Red Bull Racing Honda RBPT,57,33:56.7,25
1,2,11,Sergio Perez,Red Bull Racing Honda RBPT,57,+11.987s,18
2,3,14,Fernando Alonso,Aston Martin Aramco Mercedes,57,+38.637s,15
3,4,55,Carlos Sainz,Ferrari,57,+48.052s,12
4,5,44,Lewis Hamilton,Mercedes,57,+50.977s,10

In [13]:
addRaceData(bahrain_df, "Bahrain", race_results, True)

Adding data for Bahrain
Commit mode is set to True

# Saudi Arabia

In [17]:
saudi_arabia_df = pd.read_csv('data/SaudiArabia.csv')
saudi_arabia_df.head()

,Pos,No,Driver,Car,Laps,Time/Retired,PTS
0,1,11,Sergio Perez,Red Bull Racing Honda RBPT,50,21:14.9,25
1,2,1,Max Verstappen,Red Bull Racing Honda RBPT,50,+5.355s,19
2,3,14,Fernando Alonso,Aston Martin Aramco Mercedes,50,+20.728s,15
3,4,63,George Russell,Mercedes,50,+25.866s,12
4,5,44,Lewis Hamilton,Mercedes,50,+31.065s,10

In [18]:
addRaceData(saudi_arabia_df, "Saudi Arabia", race_results, True)

Adding data for Saudi Arabia
Commit mode is set to True

# Australia

In [19]:
australia_df = pd.read_csv('data/Australia.csv')
australia_df.head()

,Pos,No,Driver,Car,Laps,Time/Retired,PTS
0,1,1,Max Verstappen,Red Bull Racing Honda RBPT,58,32:38.4,25
1,2,44,Lewis Hamilton,Mercedes,58,+0.179s,18
2,3,14,Fernando Alonso,Aston Martin Aramco Mercedes,58,+0.769s,15
3,4,18,Lance Stroll,Aston Martin Aramco Mercedes,58,+3.082s,12
4,5,11,Sergio Perez,Red Bull Racing Honda RBPT,58,+3.320s,11

In [20]:
addRaceData(australia_df, "Australia", race_results, True)

Adding data for Australia
Commit mode is set to True

# Azerbaijan

In [21]:
azerbaijan_df = pd.read_csv('data/Azerbaijan.csv')
azerbaijan_df.head()

,Pos,No,Driver,Car,Laps,Time/Retired,PTS
0,1,11,Sergio Perez,Red Bull Racing Honda RBPT,51,32:42.4,25
1,2,1,Max Verstappen,Red Bull Racing Honda RBPT,51,+2.137s,18
2,3,16,Charles Leclerc,Ferrari,51,+21.217s,15
3,4,14,Fernando Alonso,Aston Martin Aramco Mercedes,51,+22.024s,12
4,5,55,Carlos Sainz,Ferrari,51,+45.491s,10

In [23]:
addRaceData(azerbaijan_df, "Azerbaijan", race_results, True)

Adding data for Azerbaijan
Commit mode is set to True

# Miami

In [22]:
miami_df = pd.read_csv('data/Miami.csv')
miami_df.head()

,Pos,No,Driver,Car,Laps,Time/Retired,PTS
0,1,1,Max Verstappen,Red Bull Racing Honda RBPT,57,27:38.2,26
1,2,11,Sergio Perez,Red Bull Racing Honda RBPT,57,+5.384s,18
2,3,14,Fernando Alonso,Aston Martin Aramco Mercedes,57,+26.305s,15
3,4,63,George Russell,Mercedes,57,+33.229s,12
4,5,55,Carlos Sainz,Ferrari,57,+42.511s,10

In [24]:
addRaceData(miami_df, "Miami", race_results, True)

Adding data for Miami
Commit mode is set to True